<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title>Little Chat App</title>
</head>
<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand mb-0 ps-4 text-light">My Little Chat App</span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <div id="error">
                    <div id="userFormWrap">
                        <h1>Create User Name</h1>
                        <form action="" id="userForm">
                            <input type="text" id="username" placeholder="enter username" class="form-control"><br>
                            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <div id="mainWrap" class="mt-5">
                        <h1>Speak your mind</h1>
                        <form action="" id="chatForm">
                            <div class="formgroup">
                                <textarea name="body" id="chatInput" cols="30" rows="10" class="form-control" placeholder="enter your message"></textarea>
                            </div>
                            <br>
                            <div>
                            <button class="btn btn-lg btn-danger" type="submit">Submit</button>
                            </div>
                            
                        </form>
                        <br>
                        <div id="chatWindow" class="card p-3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <h3>Chat Users List</h3>
                <ul class="list-group">
                    <div id="users"></div>
                </ul>
            </div>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>